/// @type string
$principaleBackgroundColor : #f7f2f2;
/// @type string
$principaleTextColor : #000000;
/// @type string 
$principaleLinkColor : #000000;

$fontSize : 15px;

//=== === === === === === === === === === === === 

///@type string 
$secondaryBackgroundColor : #ffffff;